<form action="/garcom/criarpedido" method="POST">

<label class="form-label" for="nome">Nome pedido</label>
<input type="text" class="form-control" name="nome">


<label class="form-label" for="descricao">Descrição</label>
<input type="text" class="form-control" name="descricao">


<label class="form-label" for="preco">Preço</label>
<input type="text" class="form-control" name="preco">

<br>
<button class="btn btn-outline-success me-2" type="button">Enviar pedido</button>
</form>
